<div class="text-center loginContainer">
    <h1>Velkomin/nn í kennslumatið</h1>
    <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Vinsamlegast skráðu þig inn hér fyrir neðan</h2>
        <input type="username" ng-model="user" class="form-control" placeholder="Username" required autofocus>
        <input type="password" ng-model="pass" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="loginSubmit()">Sign in</button>
    </form>
    <p></p>
    <div class="alert {{messageAlert}}" ng-show="showMessage">
        <button type="button" class="close" data-ng-click="switchBool('showMessage')">&times;</button>
        <strong>{{messageType}}</strong>{{message}}
    </div>
</div>
